<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Desglose de Costos por Tipo</h4>
            <div class="alert alert-info">
                Esta es una vista de respaldo que se muestra cuando la API no responde correctamente.
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Tipo de Costo</th>
                            <th>Monto</th>
                            <th>Porcentaje</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Alimento</td>
                            <td>$1,000.00</td>
                            <td>50.00%</td>
                        </tr>
                        <tr>
                            <td>Mano de obra</td>
                            <td>$500.00</td>
                            <td>25.00%</td>
                        </tr>
                        <tr>
                            <td>Insumos</td>
                            <td>$300.00</td>
                            <td>15.00%</td>
                        </tr>
                        <tr>
                            <td>Otros</td>
                            <td>$200.00</td>
                            <td>10.00%</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-light font-weight-bold">
                            <td>TOTAL</td>
                            <td>$2,000.00</td>
                            <td>100.00%</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
