{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block head %}

    <script src="{% static 'acciones/app_datatable/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src='{% static 'acciones/app_contabilidad_planCuentas/dist/jstree 3.3.1/jstree.js' %}'></script>
    <script src="{% static 'acciones/app_contabilidad_planCuentas/dist/jstree 3.3.1/jstree.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'acciones/app_contabilidad_planCuentas/CSS/jquery.contextMenu.min.css' %}">
    <script src="{% static 'acciones/app_contabilidad_planCuentas/JS/jquery.contextMenu.min.js' %}"></script>
    <script src="{% static 'acciones/app_contabilidad_planCuentas/JS/jquery.ui.position.js' %}"></script>

    <link rel="stylesheet" href="{% static 'lib/formvalidation-1.8.0/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-1.8.0/js/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.8.0/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.8.0/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.8.0/js/locales/es_ES.min.js' %}"></script>

    <script src="{% static 'acciones/app_contabilidad_planCuentas/JS/planCuenta.js' %}"></script>
    <script src="{% static 'acciones/app_contabilidad_planCuentas/JS/upload_excel.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'acciones/app_contabilidad_planCuentas/dist/themes/default/style.min.css' %}">

    <style>
        #jstree-container {
            width: 100%;
        }

        li.jstree-node a {
            width: 100%;
        }

        span.amount {
            float: right;
        }
    </style>

{% endblock %}

{% block contenido %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">{{ nombre }}&nbsp;
                            <i class="far nav-icon fa fa-home"></i></a></li>
                        <li class="breadcrumb-item active">Listado de {{ nombre }}&nbsp;
                            <i class="far nav-icon fa fa-clipboard-check"></i></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header" style="text-transform: uppercase">
                            <h4 class="card-title"><strong>{{ nombre }}:</strong></h4>
                            <div class="card-tools">
                                {% comment %}<a href="{% url 'app_planCuentas:crear_planCuenta' %}" class="btn btn-block btn-default btn-sm">
                                    <strong><i class="fas fa-plus"></i> &nbsp; CREAR PLAN:</strong>
                                </a>{% endcomment %}
                            </div>
                        </div>
                        &nbsp;<h5 class="text-center"><strong>PLAN DE CUENTAS EMPRESA BIO:</strong></h5>

                        <div class="card-body">
                            {% comment %}<div id="wrapper_page">
                                {% block content %}
                                {% endblock %}
                            </div>
                            <hr>{% endcomment %}
                            <div id="jstree-container">
                                <h4><strong>Cuentas del Plan</strong></h4>
                                <hr>
                                <div id="loadingMessage" style="display: none; font-weight: bold;"></div>
                                <div id="arbolBio"></div>
                            </div>
                        </div>

                        <br><br>
                        <div class="card-footer">
                            <a class="btn btn-info btn-flat text-white btnUpload">
                                <i class="fas fa-upload"></i> &nbsp;Subir Excel de Plan de Cuentas
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
    <div class="modal fade" id="myModalUploadExcel" tabindex="-1" role="dialog" aria-hidden="true">
        <form method="post" id="frmUploadExcel" action=".">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <b><i class="fas fa-upload"></i>&nbsp; Subir Plan de Cuenta</b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <a class="text-success" href="{% url 'app_planCuentas:plan_export_excel_bio' %}" target="_blank">
                                <i class="fas fa-file-excel"></i> Exportar excel de Plan de Cuenta dando click aquí
                            </a>
                            <hr>
                            <div class="form-group">
                                <label>Archivo de excel:</label>
                                <input type="file" class="form-control"
                                       accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                       name="archive" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer navbar-white">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                            <i class="fas fa-upload"></i>&nbsp; Subir excel
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

