{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block head %}
    <link href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
{% endblock %}

{% block contenido %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">{{ nombre }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">{{ nombre }}</a></li>
                        <li class="breadcrumb-item active">{{ nombre }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <form method="post" action="." enctype="multipart/form-data">
        <section class="content">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="card">
                        <div class="card-header" style="background-color:#3498DB">
                            <h3 class="card-title">Ingreso del Registro:<strong> {{ nombre }}</strong></h3>
                        </div>

                        <div class="card-body">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="{{ action }}">

                            {% if action == 'edit' and form.instance.parentId %}
                                <div class="form-group">
                                    <label>Código del Padre:</label>
                                    <input type="text" class="form-control" id="codigo_padre_input" value="{{ codigo_padre }}" readonly>
                                    <input type="hidden" name="parent_id" value="{{ parent_id }}">
                                </div>
                            {% endif %}

                            <div class="form-group">
                                <label for="{{ form.codigo.id_for_label }}">{{ form.codigo.label }}:</label>
                                {{ form.codigo }}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.nombre.label }}">{{ form.nombre.label }}:</label>
                                {{ form.nombre }}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.nivel.label }}">{{ form.nivel.label }}:</label>
                                {{ form.nivel }}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.tipo_cuenta.label }}">{{ form.tipo_cuenta.label }}:</label>
                                {{ form.tipo_cuenta }}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.empresa.label }}">{{ form.empresa.label }}:</label>
                                {{ form.empresa|add_class:"form-control select2" }}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.periodo.label }}">{{ form.periodo.label }}:</label>
                                {{ form.periodo }}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.parentId.label }}">{{ form.parentId.label }}:</label>
                                {{ form.parentId }}
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="{{ form.estado.label }}">{{ form.estado.label }}:</label>
                                    {{ form.estado }}
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="{{ form.band_total.label }}">{{ form.band_total.label }}:</label>
                                    {{ form.band_total }}
                                </div>
                            </div>
                        </div>

                        <div class="card-footer navbar-white">
                            <button type="submit" class="btn btn-primary btn-flat">
                                <i class="fas fa-save"></i> Guardar registro
                            </button>
                            <a href="{{ list_url }}" class="btn btn-danger btn-file">
                                <i class="fas fa-times"></i> Cancelar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <!-- /.row -->
    <!-- /.container-fluid -->
    <!-- /.content -->

    <script type="application/javascript">

        {% if form.errors %}
            var errores = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errores = '{{ error }}\n';
                {% endfor %}
            {% endfor %}
            Swal.fire({
                title: 'Error',
                text: errores,
                icon: 'error',
                confirmButtonText: 'OK'
            })
        {% endif %}

        $('.select2').select2({
            theme: 'bootstrap4',
            language: "es",
        });

    </script>

{% endblock %}

{% block scripts %}
    <script type="application/javascript">
        {% if form.errors %}
            var errores = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errores = '{{ error }}\n';
                {% endfor %}
            {% endfor %}
            Swal.fire({
                title: 'Error',
                text: errores,
                icon: 'error',
                confirmButtonText: 'OK'
            })
        {% endif %}

        // Inicializa select2
        $('.select2').select2({
            theme: 'bootstrap4',
            language: "es",
        });

        // Autogenerar código hijo si estamos creando (solo si está vacío)
        $(document).ready(function () {
            var codigoPadre = $("#codigo_padre_input").val();
            var inputCodigo = $("#id_codigo");

            if (codigoPadre && inputCodigo.val().trim() === "") {
                let nuevoCodigo = codigoPadre + "01";
                inputCodigo.val(nuevoCodigo);
            }
        });

        // Enviar formulario por AJAX
        $('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = $(this).serializeArray();
            console.log(parameters);
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: parameters,
                dataType: 'json'
            }).done(function (data) {
                console.log('guardada');
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Cuenta de Plan creada correctamente',
                    showConfirmButton: false,
                    timer: 1500
                });
                location.href = '{{ list_url }}';
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log('EXISTE UN ERROR');
                console.log(textStatus + ' : ' + errorThrown);
            });
        });
    </script>
{% endblock %}