{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block head %}
    <link href="{% static 'acciones/app_inventario/app_categoria/tabla_listado/css/tab.css' %}" rel="stylesheet">

    {#    <link href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet"/>#}
    {#    <script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>#}
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}">

    <link rel="stylesheet" href="{% static 'lib/formvalidation-1.8.0/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-1.8.0/js/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.8.0/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.8.0/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.8.0/js/locales/es_ES.min.js' %}"></script>

    <script src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>
    <script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>

    <script src="{% static 'acciones/app_dieta/form_dieta.js' %}"></script>
    <script src="{% static 'acciones/app_dieta/upload_excel.js' %}"></script>
    {#    <link href="{% static 'acciones/app_dieta/css/margen.css' %}" rel="stylesheet"/>#}
{% endblock %}

{% block contenido %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h5 class="m-0 text-dark">
                        &nbsp <b> Registro de {{ nombre }}</b>
                        <i class="far nav-icon fa fa-clipboard-check"></i>
                    </h5>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">{{ nombre }}</a>
                        </li>
                        <li class="breadcrumb-item active">Listado de {{ nombre }}
                        </li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <section class="content">
        <form id="frmFactura" method="post">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-header" style="background-color:#3498DB">
                    <h3 class="card-title">Registros de: <strong> {{ nombre }}</strong></h3>
                </div>
                <!-- /.card-body -->

                <div class="card-body">
                    <input type="hidden" name="action" value="{{ action }}">
                    <div class="form-group row">
                        <div class="col-sm-6" align="left">
                            <div class="form-group row">
                                <label for="mes_dieta" class="col-sm-2 col-form-label">Fecha Dieta:*</label>
                                <div class="col-sm-10">
                                    <input type="date" id="fecha" name="fecha" required="required"
                                           value="{{ fecha|date:"Y-m-d" }}" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6" align="right">
                            <label>Ingresar Piscinas por Empresas : &nbsp </label>
                            <button class="btn btn-primary btn-flat" type="button" id="btnBuscarPsm">
                                <i class="fas fa-search"></i> Piscinas PSM
                            </button>
                            <button class="btn btn-success btn-flat" type="button" id="btnBuscarBio">
                                <i class="fas fa-search"></i> Piscinas BIO
                            </button>

                        </div>
                    </div>
                    <hr>
                    <table class="table table-bordered table-striped table-hover" id="tblProducts" style="width:100%">
                        <thead style="background-color:#3498DB">
                        <tr>
                            <th scope="col" style="width: 1%;">#</th>
                            <th scope="col" style="width: 5%;">Piscina</th>
                            <th scope="col" style="width: 15%;">Balanceado</th>
                            <th scope="col" style="width: 5%;">Libras</th>
                            <th scope="col" style="width: 13%;">Insumo 1</th>
                            <th scope="col" style="width: 5%;">Gramos</th>
                            <th scope="col" style="width: 10%;">Insumo 2</th>
                            <th scope="col" style="width: 5%;">Gramos</th>
                            <th scope="col" style="width: 15%;">Insumo 3</th>
                            <th scope="col" style="width: 5%;">Gramos</th>
                            <th scope="col" style="width: 15%;">Insumo 4</th>
                            <th scope="col" style="width: 5%;">Gramos</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <!-- /.card-footer -->
                <div class="card-footer navbar-primary">
                    <button type="submit" class="btn btn-success btn-flat btnSave">
                        <i class="fas fa-save"></i>&nbsp Guardar
                    </button>
                    <a href="{% url 'app_dieta:reporte_dieta' pk %}" type="button" class="btn btn-warning" target="_blank">
                        <i class="fas fa-print"></i>&nbsp Imprimir
                    </a>
                    <a href="{% url 'app_dieta:listar_descripcion_dieta' %}" type="button" class="btn btn-secondary">
                        <i class="fas fa-file-image"></i>&nbsp Escaneado
                    </a>
                    <a href="/dieta/listar/dia/{{ prin_dia }}/" type="button" class="btn btn-danger">
                        <i class="fas fa-reply"></i> Regresar
                    </a>
                    <a class="btn btn-success btnUpload" style="color: #eaeaea">
                        <i class="fas fa-upload"></i> Subir Excel de Dieta
                    </a>
                </div>
            </div>
        </form>
    </section>

{% endblock %}

{% block scripts %}

    <!-- Modal -->
    <div class="modal fade" id="myModalSearchProducts" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <b><i class="fas fa-search"></i> Búsqueda de Piscinas</b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-hover" id="tblSearchProducts">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Piscina</th>
                            <th>Siglas de la Empresa</th>
                            <th>Agregar</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer justify-content-between">
                    <a href="{% url 'app_empresa:crear_piscinas' %}" class="btn btn-primary">
                        <b>Registrar Piscina</b>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModalUploadExcel" tabindex="-1" role="dialog" aria-hidden="true">
        <form method="post" id="frmUploadExcel" action=".">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <b><i class="fas fa-upload"></i> Subir Dieta</b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <a class="text-success" href="#" target="_blank">
                                <i class="fas fa-file-excel"></i> Exportar excel actual de dieta dando click aquí
                            </a>
                            <hr>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="date" id="fecha" name="fecha" required="required"
                                           value="{{ fecha|date:"Y-m-d" }}" class="form-control">
                                </div>
                                <label>Archivo de excel:</label>
                                <input type="file" class="form-control"
                                       accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                       name="archive" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                            <i class="fas fa-upload"></i> Subir excel
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script>

        $(function () {
            vents.items.products = {{ det|safe }};
            vents.getItems();
            setTimeout(function () {
                vents.list();
            }, 1000);
            console.log(vents.items.products)
        });
    </script>

{% endblock %}