{% extends 'base.html' %}
{% load static %}

{% block head %}
<link href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet"/>
<script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

<link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
<link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
<script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
<script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
{% endblock %}

{% block contenido %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">{{ nombre }}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">{{ nombre }}</a></li>
                    <li class="breadcrumb-item active">Formulario de {{ nombre }}</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<form method="post" action=".">
    {% csrf_token %}
    <section class="content">
        <div class="row">
            <div class="col-1"></div>

            <div class="col-10">
                <div class="card">
                    <div class="card-header" style="background-color:#3498DB">
                        <h3 class="card-title">
                            Ingreso del Registro: <strong>{{ nombre }}</strong>
                        </h3>
                    </div>

                    <div class="card-body">
                        {% for field in form.visible_fields %}
                        <div class="form-group">
                            <label>{{ field.label }}:</label>
                            {{ field }}
                            {% if field.errors %}
                                <div class="text-danger">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>

                    <div class="card-footer navbar-white">
                        <button type="submit" class="btn btn-primary btn-flat">
                            <i class="fas fa-save"></i> GUARDAR
                        </button>
                        <a href="{% url 'app_empresa:listar_piscinas' %}" class="btn btn-danger btn-flat">
                            <i class="fas fa-times"></i> CANCELAR
                        </a>
                    </div>

                </div>
            </div>

            <div class="col-1"></div>
        </div>
    </section>
</form>

{% endblock %}

{% block scripts %}

<script>
    $('.select2').select2({
        theme: 'bootstrap4',
        language: 'es'
    });

    $('input[name=orden]').on('change', function () {
        $('input[name=numero]').val('PISCINA ' + $(this).val());
    });
</script>

{% if messages %}
<script>
    {% for message in messages %}
    Swal.fire({
        icon: 'success',
        title: '{{ message }}',
        showConfirmButton: false,
        timer: 3000
    });
    {% endfor %}
</script>
{% endif %}

{% endblock %}
