{% extends 'base_public.html' %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            Resetear contraseña de {{ username }}
        </h3>
    </div>

    <div class="card-body">

        <p><strong>Empresa / Schema:</strong> {{ schema }}</p>

        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <label>Nueva contraseña</label>
                <input type="password" name="password" class="form-control" required>
            </div>

            <br>

            <button class="btn btn-primary">
                Guardar contraseña
            </button>

            <a href="{% url 'app_empresa:superadmin_usuarios' %}" class="btn btn-secondary">
                Cancelar
            </a>

        </form>

    </div>
</div>

{% endblock %}