{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block head %}

    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'acciones/app_datatable/datatables/jquery-3.5.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'acciones/app_datatable/datatables/jquery.dataTables.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'acciones/app_datatable/bootstrap/css/bootstrap.min.css' %}">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="{% static 'acciones/app_consumo_piscinas/css/estilo.css' %}">
    <!--datables CSS básico-->
    <link rel="stylesheet" type="text/css" href="{% static 'acciones/app_datatable/datatables/datatables.min.css' %}">
    <!--datables estilo bootstrap 4 CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'acciones/app_datatable/datatables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css' %}">

    <!-- Estilos para la tabla cuadrada y alineada -->
    <style>
        #insumos_conglomerado_psm {
            width: 100% !important;
            table-layout: fixed;
        }
        #insumos_conglomerado_psm thead th {
            background-color: #3498DB;
            color: white;
            text-align: center;
            vertical-align: middle;
            padding: 10px;
            font-weight: bold;
            text-transform: uppercase;
        }
        #insumos_conglomerado_psm tbody td {
            vertical-align: middle;
            padding: 8px 10px;
        }
        /* Anchos de columnas proporcionales */
        #insumos_conglomerado_psm th:nth-child(1),
        #insumos_conglomerado_psm td:nth-child(1) { width: 20%; text-align: left; }
        #insumos_conglomerado_psm th:nth-child(2),
        #insumos_conglomerado_psm td:nth-child(2) { width: 30%; text-align: left; }
        #insumos_conglomerado_psm th:nth-child(3),
        #insumos_conglomerado_psm td:nth-child(3) { width: 15%; text-align: center; }
        #insumos_conglomerado_psm th:nth-child(4),
        #insumos_conglomerado_psm td:nth-child(4) { width: 20%; text-align: center; }
        #insumos_conglomerado_psm th:nth-child(5),
        #insumos_conglomerado_psm td:nth-child(5) { width: 15%; text-align: center; }

        /* Fila de totales */
        #insumos_conglomerado_psm tfoot th {
            background-color: #ecf0f1;
            font-weight: bold;
            text-align: center;
            padding: 10px;
        }

        /* Botones de exportación */
        .dt-buttons {
            margin-bottom: 15px;
        }
        .dt-buttons .btn {
            margin-right: 5px;
        }
    </style>

{% endblock %}

{% block contenido %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">{{ nombre }}&nbsp
                            <i class="far nav-icon fa fa-home"></i></a>
                        </li>
                        <li class="breadcrumb-item active"> {{ detail }} &nbsp;
                            <i class="far nav-icon fa fa-clipboard-check"></i>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header p-0 pt-1">
                            <div class="card-tools">
                                <a href="{% url 'app_consumo:listar_consumo' %}"
                                   class="btn btn-md bg-danger">
                                    <i class="fas fa-reply"></i> REGRESAR
                                </a>
                                &nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label class="col-sm-5 col-form-label">BUSCAR POR RANGO DE FECHAS:</label>
                                        <div class="col-sm-5">
                                            {{ form.date_range2 }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Removido table-responsive duplicado y ajustado estructura -->
                            <div class="table-responsive">
                                <table id="insumos_conglomerado_psm" class="table table-sm table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>LINEA</th>
                                        <th>SUB-LINEA</th>
                                        <th>CANTIDAD</th>
                                        <th>COSTO</th>
                                        <th>TOTAL</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th colspan="2" style="text-align: center;">Cantidad Total</th>
                                        <th id="total_cantidad">0.00</th>
                                        <th></th>
                                        <th id="total_monto">0.00</th>
                                    </tr>
                                    </tfoot>
                                </table>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <!-- para usar DataRangePicker JS -->
    <script src="{% static 'lib/moment-2.25.3/moment.js' %}"></script>
    <script src="{% static 'lib/daterangepicker-3.1/spanish.js' %}"></script>
    <script src="{% static 'lib/daterangepicker-3.1/daterangepicker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/daterangepicker-3.1/daterangepicker.css' %}"/>
    <!-- datatables JS -->
    <script type="text/javascript" src="{% static 'acciones/app_datatable/datatables/datatables.min.js' %}"></script>
    <!-- para usar botones en datatables JS -->
    <script src="{% static 'acciones/app_datatable/datatables/Buttons-1.5.6/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'acciones/app_datatable/datatables/JSZip-2.5.0/jszip.min.js' %}"></script>
    <script src="{% static 'acciones/app_datatable/datatables/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
    <script src="{% static 'acciones/app_datatable/datatables/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
    <script src="{% static 'acciones/app_datatable/datatables/Buttons-1.5.6/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'acciones/app_datatable/datatables/Buttons-1.5.6/js/buttons.print.min.js' %}"></script>

    <!-- Script corregido para la tabla -->
    <script src="{% static 'acciones/app_consumo_piscinas/consumo_por_linea/resumen_consumo_bio_linea.js' %}"></script>

{% endblock %}
